<tui-hosted-dropdown
    #fonts
    [content]="fontsDropdown"
>
    <button
        appearance="icon"
        automation-id="toolbar__font-size-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        [iconLeft]="options.icons.fontSize"
        [tuiHint]="fontText$ | async"
    ></button>
    <ng-template #fontsDropdown>
        <tui-data-list>
            <button
                *ngFor="let item of fontsOptions$ | async"
                tuiOption
                [attr.automation-id]="'tui_font__' + (item.name || '' | lowercase)"
                [ngClass]="item?.ngClass || {}"
                [ngStyle]="item?.ngStyle || {}"
                [style.fontFamily]="item.family"
                [style.fontSize.px]="item.px"
                [style.fontWeight]="item.weight"
                (click)="setFontOption(item)"
            >
                {{ item.name }}
            </button>
        </tui-data-list>
    </ng-template>
</tui-hosted-dropdown>
