<tui-hosted-dropdown
    tuiImageOptionsPosition
    class="t-hosted"
    [content]="imgOptions"
    [(open)]="open"
>
    <button
        appearance="outline"
        size="s"
        tuiIconButton
        type="button"
        class="t-image-options"
        [class._open]="open"
        [icon]="options.icons.imageExtension.settings"
    ></button>

    <tui-editor-resizable
        #resizable
        [autoHeight]="true"
        [width]="width"
        (sizeChange)="updateSize($event)"
    >
        <img
            contenteditable="false"
            [alt]="alt"
            [attr.width]="width"
            [class.ProseMirror-selectednode]="focused"
            [src]="getSrc(attrs.src)"
            [style.max-width.px]="maxWidth"
            [style.min-width.px]="minWidth"
            [title]="title"
        />
    </tui-editor-resizable>
</tui-hosted-dropdown>

<ng-template
    #imgOptions
    let-close="close"
>
    <tui-image-align
        [style]="style"
        (updateAlignStyles)="align($event); close()"
    ></tui-image-align>
</ng-template>
