<div class="t-align-list">
    <button
        size="s"
        tuiIconButton
        [appearance]="isAlignJustify(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignJustify"
        (click.capture)="alignJustify()"
    ></button>
    <button
        size="s"
        tuiIconButton
        [appearance]="isAlignLeft(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignLeft"
        (click.capture)="alignLeft()"
    ></button>
    <button
        size="s"
        tuiIconButton
        [appearance]="isAlignCenter(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignCenter"
        (click.capture)="alignCenter()"
    ></button>
    <button
        size="s"
        tuiIconButton
        [appearance]="isAlignRight(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignRight"
        (click.capture)="alignRight()"
    ></button>
</div>
