@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    position: relative;
    display: block;
    isolation: isolate;
    font: var(--tui-font-text-m);
    border-radius: var(--tui-radius-m);
    max-height: inherit;
    min-height: 10rem;
    box-sizing: border-box;
    overflow: clip;
}

.t-wrapper {
    display: flex;
    max-height: inherit;
    min-height: inherit;
    cursor: text;
    overflow: clip;
    flex-direction: column;
    border-radius: inherit;

    &:not([data-focus='true']) {
        outline: 1px solid var(--tui-border-normal);
    }
}

.t-placeholder {
    display: block;
    user-select: none;
    font: var(--tui-font-text-s);
    color: var(--tui-text-secondary);
    will-change: transform;
    transform: translateY(0);
    margin: 1rem 1rem -1rem;
    pointer-events: auto;
    min-height: 1.625rem;
    width: 95%;
    font-size: 0.9375rem;

    &_raised {
        width: 110%;
    }

    &:empty {
        min-height: 0.8rem;
    }
}

.t-example-text {
    position: absolute;
    left: 0;
    color: var(--tui-text-secondary);
    font: var(--tui-font-text-s);
    font-size: inherit;
    margin: 0.95rem 1rem -1rem;
    width: 95%;
}

.t-scrollbar {
    display: flex;
    border-bottom: 0.3125rem solid transparent;
    padding-bottom: 1.3125rem;
    box-sizing: border-box;
    flex: 1;
}

.t-toolbar-wrapper {
    margin-bottom: 0.625rem;
}

.t-floating {
    &,
    ::ng-deep .t-tools-wrapper {
        max-width: var(--tui-floating-toolbar-max-width, 31.25rem);
        flex-wrap: nowrap;
    }
}
