<div
    *ngIf="editorLoaded$ | async as editorLoaded"
    class="t-wrapper"
    [tuiAppearance]="options.appearance"
    [tuiAppearanceFocus]="computedFocused"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div class="t-toolbar-wrapper">
        <tui-toolbar
            *ngIf="editorLoaded && !floatingToolbar"
            [disabled]="!interactive"
            [tools]="tools"
            (fileAttached)="fileAttached.emit($event)"
        >
            <ng-content select="tools" />
        </tui-toolbar>
        <div
            class="t-placeholder"
            (mousedown)="focus($event)"
        >
            <ng-content />
        </div>
        <div
            *ngIf="hasExampleText"
            class="t-example-text"
            (mousedown)="focus($event)"
        >
            {{ exampleText }}
        </div>
    </div>

    <ng-container *ngIf="editorLoaded">
        <tui-scrollbar
            *ngIf="floatingToolbar"
            class="t-scrollbar"
            (mousedown)="focus($event)"
        >
            <ng-container [ngTemplateOutlet]="editor" />
        </tui-scrollbar>
        <tui-scrollbar
            *ngIf="!floatingToolbar"
            tuiEditorPortal
            class="t-scrollbar"
            (keydown)="focus($event)"
            (mousedown)="focus($event)"
        >
            <ng-container [ngTemplateOutlet]="editor" />
            <tui-editor-portal-host />
        </tui-scrollbar>

        <ng-template #editor>
            <div
                tuiDropdownLimitWidth="auto"
                [tuiDropdown]="dropdown"
                [tuiToolbarDropdown]="dropdownSelectionHandler"
                [tuiToolbarDropdownPosition]="floatingToolbar ? 'selection' : 'tag'"
            >
                <tui-editor-socket
                    tuiTiptapEditor
                    [editable]="interactive()"
                    [value]="firstInitialValue"
                    (valueChange)="onModelChange($event)"
                />
            </div>

            <ng-template #dropdown>
                <div [class.t-floating]="floatingToolbar">
                    <tui-toolbar
                        *ngIf="editorLoaded && floatingToolbar"
                        [disabled]="!interactive"
                        [tools]="tools"
                        (fileAttached)="fileAttached.emit($event)"
                    >
                        <ng-content select="tools" />
                    </tui-toolbar>

                    <tui-edit-link
                        *ngIf="isLinkSelected"
                        #link
                        (addLink)="link.anchorMode ? addAnchor($event) : addLink($event)"
                        (removeLink)="link.anchorMode ? removeAnchor() : removeLink()"
                    />

                    <ng-container *ngIf="isMentionMode">
                        <ng-content select="mention" />
                    </ng-container>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
</div>

<tui-editor-socket
    class="t-hidden-editor"
    [content]="value()"
></tui-editor-socket>
