@import '../../../../taiga-ui/projects/core/styles/taiga-ui-local.less';

:host {
    font: var(--tui-font-text-m);
    color: var(--tui-text-01);
}

.link {
    margin-left: 1rem;
}

.app-version {
    color: var(--tui-text-02);
    font: var(--tui-font-text-xs);
}

@media not (min-width: 480px) {
    .app-version {
        display: none;
    }
}

.t-links {
    display: flex;
    gap: 10px;
    align-items: center;

    & > * {
        display: flex;
    }
}

.stackblitz:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

