[tuiDocHeader] {
    color: var(--tui-text-primary);
    background: var(--tui-background-base);
}

.t-links {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font: var(--tui-font-text-s);
}

.t-links > * {
    display: flex;
}

.t-link {
    margin-inline-start: 1rem;
}

.t-stackblitz:active {
    transform: scale(0.98);
    box-shadow: 0.1875rem 0.125rem 1.375rem 0.0625rem rgba(0, 0, 0, 0.24);
}

.t-stackblitz_mobile {
    display: none;
}

header {
    position: unset;
    margin-inline-start: 16.25rem;
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    header {
        margin-inline-start: 0;
    }

    .t-stackblitz {
        display: none;
    }

    .t-stackblitz_mobile {
        display: block;
        padding-inline-start: 12px;
    }

    .t-app-version {
        display: none !important;
    }
}
