<header tuiDocHeader>
    <div class="t-links">
        <p
            ngProjectAs="tuiDocNavigation"
            class="app-version"
        >
            v{{ version }}
        </p>

        <a
            href="https://stackblitz.com/github/taiga-family/editor-preview/tree/main?file=apps/demo/src/app/home/home.component.html"
            rel="noreferrer"
            target="_blank"
        >
            <img
                alt="stackblitz"
                src="https://developer.stackblitz.com/img/open_in_stackblitz_small.svg"
                class="stackblitz"
            />
            <img
                alt="stackblitz"
                src="assets/icons/stackblitz.svg"
                class="stackblitz stackblitz_mobile"
            />
        </a>
    </div>
</header>
<tui-doc-main></tui-doc-main>
