@import '../../../../taiga-ui/projects/core/styles/taiga-ui-local.less';

:host {
    font: var(--tui-font-text-m);
    color: var(--tui-text-01);
}

.link {
    margin-left: 1rem;
}

.app-version {
    color: var(--tui-text-02);
    font: var(--tui-font-text-xs);
}

.t-links {
    display: flex;
    gap: 10px;
    align-items: center;

    & > * {
        display: flex;
    }
}

.stackblitz:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.stackblitz_mobile {
    display: none;
}

header {
    position: static;
    margin-left: 16.25rem;
    box-shadow: none;
}

@media @tui-mobile {
    header {
        margin-left: 0;
    }

    .stackblitz {
        display: none;

        &_mobile {
            display: block;
            padding-left: 12px;
        }
    }

    .app-version {
        display: none !important;
    }
}
