:host {
    font: var(--tui-font-text-m);
    color: var(--tui-text-primary);
}

.link {
    margin-left: 1rem;
}

.app-version {
    color: var(--tui-text-secondary);
    font: var(--tui-font-text-xs);
}

@media not (min-width: 480px) {
    .app-version {
        display: none;
    }
}
