.t-links {
    display: flex;
    gap: 10px;
    align-items: center;
    font: var(--tui-font-text-s);

    & > * {
        display: flex;
    }
}

.link {
    margin-left: 1rem;
}

.stackblitz:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.stackblitz_mobile {
    display: none;
}

header {
    position: unset;
    margin-left: 16.25rem;
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    header {
        margin-left: 0;
    }

    .stackblitz {
        display: none;

        &_mobile {
            display: block;
            padding-left: 12px;
        }
    }

    .app-version {
        display: none !important;
    }
}
