<div
    [tuiDropdown]="picker"
    [(tuiDropdownOpen)]="open"
>
    <tui-textfield>
        <div
            class="t-color"
            [style.background]="background"
        ></div>
        <label tuiLabel><ng-content /></label>
        <input
            tuiTextfield
            [maskito]="maskitoOptions(maskitoMode)"
            [ngModel]="value"
            (ngModelChange)="control.reset($event)"
        />
    </tui-textfield>

    <ng-template #picker>
        <tui-color-selector
            [color]="value()"
            [colors]="colors"
            (colorChange)="control.reset($event)"
        />
    </ng-template>
</div>
