<div
    *tuiLet="backgroundColor$ | async as selectedColor"
    #hilite
    [tuiDropdown]="hiliteDropdown"
    [tuiDropdownOpen]="false"
>
    <button
        appearance="icon"
        automation-id="toolbar__hilite-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        class="t-tool"
        [iconLeft]="icons.textHilite"
        [tuiHint]="backColorText$ | async"
    ></button>
    <div
        *ngIf="!isBlankColor(selectedColor || '')"
        class="t-plate"
        [style.background]="selectedColor"
    ></div>
    <ng-template #hiliteDropdown>
        <tui-palette
            class="t-color-picker"
            [colors]="colors"
            (selectedColor)="editor.setBackgroundColor($event)"
        />
    </ng-template>
</div>
