<button
    appearance="icon"
    automation-id="toolbar__group-add-button"
    size="s"
    tuiHintDescribe
    tuiIconButton
    tuiItem
    tuiToolbarTool
    type="button"
    [iconStart]="options.icons.groupAdd"
    [tuiHint]="insertGroupText$ | async"
    [tuiHintManual]="!isMobile && null"
    (click)="editor?.setGroup()"
>
    {{ insertGroupText$ | async }}
</button>

<button
    appearance="icon"
    automation-id="toolbar__group-remove-button"
    size="s"
    tuiHintDescribe
    tuiIconButton
    tuiItem
    tuiToolbarTool
    type="button"
    [disabled]="!!(disabled$ | async)"
    [iconStart]="options.icons.groupRemove"
    [tuiHint]="removeGroupText$ | async"
    [tuiHintManual]="!isMobile && null"
    (click)="editor?.removeGroup()"
>
    {{ removeGroupText$ | async }}
</button>
