<ng-container *ngIf="texts$ | async as texts">
    <div
        *tuiLet="listState$ | async as state"
        #list
        [tuiDropdown]="listDropdown"
        [tuiDropdownOpen]="false"
    >
        <button
            appearance="icon"
            automation-id="toolbar__ordering-list-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            [iconStart]="options.icons.listPreview"
            [tuiHint]="texts.list"
        ></button>
        <ng-template #listDropdown>
            <div class="t-dropdown t-dropdown-list">
                <button
                    appearance="icon"
                    automation-id="toolbar__un-ordered-list-button"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconStart]="options.icons.listUnOrdered"
                    [tuiHint]="texts.unorderedList"
                    (click)="editor?.toggleUnorderedList()"
                ></button>
                <button
                    appearance="icon"
                    automation-id="toolbar__ordered-list-button"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconStart]="options.icons.listOrdered"
                    [tuiHint]="texts.orderedList"
                    (click)="editor?.toggleOrderedList()"
                ></button>
                <button
                    appearance="icon"
                    automation-id="toolbar__task-list-button"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconStart]="options.icons.taskList"
                    (click)="editor?.toggleTaskList()"
                ></button>
                <button
                    appearance="icon"
                    automation-id="toolbar_indent-button"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconStart]="options.icons.indent"
                    [tuiHint]="texts.indent"
                    (click)="sinkListItem()"
                ></button>
                <button
                    appearance="icon"
                    automation-id="toolbar_outdent-button"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option"
                    [iconStart]="options.icons.outdent"
                    [tuiHint]="texts.outdent"
                    (click)="liftListItem()"
                ></button>
            </div>
        </ng-template>
    </div>
</ng-container>
