<!-- @bad TODO: Keyboard navigation-->
<ng-container *ngIf="texts$ | async as texts">
    <tui-hosted-dropdown
        *tuiLet="alignState$ | async as alignState"
        #align
        [content]="alignDropdown"
    >
        <button
            appearance="icon"
            automation-id="toolbar__align-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            [iconLeft]="options.icons.textAlignPreview"
            [tuiHint]="texts.justify"
        ></button>
        <ng-template #alignDropdown>
            <div class="t-dropdown">
                <button
                    appearance="icon"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconLeft]="options.icons.textAlignLeft"
                    [tuiHint]="texts.justifyLeft"
                    (click)="editor.onAlign('left')"
                ></button>
                <button
                    appearance="icon"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconLeft]="options.icons.textAlignCenter"
                    [tuiHint]="texts.justifyCenter"
                    (click)="editor.onAlign('center')"
                ></button>
                <button
                    appearance="icon"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconLeft]="options.icons.textAlignRight"
                    [tuiHint]="texts.justifyRight"
                    (click)="editor.onAlign('right')"
                ></button>
                <button
                    appearance="icon"
                    size="s"
                    tuiIconButton
                    type="button"
                    class="t-option t-option_margin"
                    [iconLeft]="options.icons.textAlignJustify"
                    [tuiHint]="texts.justifyFull"
                    (click)="editor.onAlign('justify')"
                ></button>
            </div>
        </ng-template>
    </tui-hosted-dropdown>
</ng-container>
