<div
    #table
    tuiDropdownAlign="left"
    tuiDropdownDirection="bottom"
    [tuiDropdown]="tableDropdown"
    [tuiDropdownOpen]="false"
>
    <button
        appearance="icon"
        automation-id="toolbar__insert-table-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        [iconStart]="options.icons.insertTable"
        [tuiHint]="insertTableText$ | async"
    ></button>
</div>

<ng-template #tableDropdown>
    <tui-table-size-selector (selectSize)="addTable($event)" />
</ng-template>
