# compiled output
/dist
/tmp

# dependencies
**/node_modules

# IDEs, VSCode
.idea
*.iml
*.launch
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
test-results.json
*.log

# System Files
.DS_Store
Thumbs.db

/projects/demo-playwright/tests-results/
/projects/demo-playwright/tests-report/
/projects/demo-playwright/snapshots/
/projects/demo-playwright/playwright/.cache/

# special
routes.txt
.angular
.nx
