# compiled output
/dist
/tmp

# dependencies
**/node_modules

# IDEs, VSCode
.idea
*.iml
*.launch
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
test-results.json
*.log

# System Files
.DS_Store
Thumbs.db

tests-results/
tests-report/
snapshots/
.cache/

# special
routes.txt
.angular
.nx
