<ng-container *tuiLet="color$ | async as color">
    <tui-hosted-dropdown
        *tuiLet="isActive$ | async as isActive"
        #colorSelect
        [canOpen]="!!isActive"
        [content]="cellColorDropdown"
        [tuiDropdownMaxHeight]="999"
    >
        <button
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            [disabled]="!isActive"
            [iconLeft]="icons.paint"
            [tuiHint]="colorText$ | async"
        ></button>
        <div
            *ngIf="!isBlankColor(color || '')"
            class="t-plate t-plate_paint"
            [style.background]="color"
        ></div>
        <ng-template
            #cellColorDropdown
            let-activeZone
        >
            <tui-palette
                class="t-color-picker"
                [colors]="colors"
                [tuiActiveZoneParent]="activeZone"
                (selectedColor)="setCellColor($event); colorSelect.close()"
            />
        </ng-template>
    </tui-hosted-dropdown>
</ng-container>
