<ng-container *tuiLet="color$ | async as color">
    <div
        *tuiLet="isActive$ | async as isActive"
        #colorSelect
        [tuiDropdown]="cellColorDropdown"
        [tuiDropdownMaxHeight]="999"
        [tuiDropdownOpen]="false"
    >
        <button
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            [disabled]="!isActive"
            [iconLeft]="icons.paint"
            [tuiHint]="colorText$ | async"
        ></button>
        <div
            *ngIf="!isBlankColor(color || '')"
            class="t-plate t-plate_paint"
            [style.background]="color"
        ></div>
        <ng-template #cellColorDropdown>
            <tui-palette
                class="t-color-picker"
                [colors]="colors"
                (selectedColor)="setCellColor($event)"
            />
        </ng-template>
    </div>
</ng-container>
