<ng-container *ngIf="texts$ | async as texts">
    <div
        *ngIf="listState$ | async as state"
        [tuiDropdown]="listDropdown"
        [tuiDropdownOpen]="false"
    >
        <button
            appearance="icon"
            automation-id="toolbar__ordering-list-button"
            size="s"
            tuiHintDescribe
            tuiIconButton
            tuiItem
            tuiToolbarTool
            type="button"
            [iconStart]="options.icons.listPreview"
            [tuiHint]="texts.list"
            [tuiHintManual]="!isMobile && null"
        >
            {{ texts.list }}
        </button>
        <ng-template #listDropdown>
            <div tuiToolbarDropdownContent>
                <button
                    appearance="icon"
                    automation-id="toolbar__un-ordered-list-button"
                    size="s"
                    tuiIconButton
                    tuiItem
                    tuiToolbarTool
                    type="button"
                    [iconStart]="options.icons.listUnOrdered"
                    [tuiHint]="texts.unorderedList"
                    [tuiHintManual]="!isMobile && null"
                    (click)="editor?.toggleUnorderedList()"
                >
                    Unordered list
                </button>
                <button
                    appearance="icon"
                    automation-id="toolbar__ordered-list-button"
                    size="s"
                    tuiIconButton
                    tuiItem
                    tuiToolbarTool
                    type="button"
                    [iconStart]="options.icons.listOrdered"
                    [tuiHint]="texts.orderedList"
                    [tuiHintManual]="!isMobile && null"
                    (click)="editor?.toggleOrderedList()"
                >
                    Ordered list
                </button>
                <button
                    appearance="icon"
                    automation-id="toolbar__task-list-button"
                    size="s"
                    tuiIconButton
                    tuiItem
                    tuiToolbarTool
                    type="button"
                    [iconStart]="options.icons.taskList"
                    (click)="editor?.toggleTaskList()"
                >
                    Toggle task list
                </button>
                <button
                    appearance="icon"
                    automation-id="toolbar_indent-button"
                    size="s"
                    tuiIconButton
                    tuiToolbarTool
                    type="button"
                    [iconStart]="options.icons.indent"
                    [tuiHint]="texts.indent"
                    [tuiHintManual]="!isMobile && null"
                    (click)="editor?.sinkListItem()"
                >
                    Sink list item
                </button>
                <button
                    appearance="icon"
                    automation-id="toolbar_outdent-button"
                    size="s"
                    tuiIconButton
                    tuiItem
                    tuiToolbarTool
                    type="button"
                    [iconStart]="options.icons.outdent"
                    [tuiHint]="texts.outdent"
                    [tuiHintManual]="!isMobile && null"
                    (click)="editor?.liftListItem()"
                >
                    Lift list item
                </button>
            </div>
        </ng-template>
    </div>
</ng-container>
