<div
    [tuiDropdown]="alignDropdown"
    [tuiDropdownOpen]="false"
>
    <button
        appearance="icon"
        automation-id="toolbar__align-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        [iconStart]="options.icons.textAlignPreview"
        [tuiHint]="(texts$ | async)?.justify"
    ></button>
    <ng-template #alignDropdown>
        <div class="t-dropdown">
            <button
                appearance="icon"
                size="s"
                tuiIconButton
                type="button"
                class="t-option t-option_margin"
                [iconStart]="options.icons.textAlignLeft"
                [tuiHint]="(texts$ | async)?.justifyLeft"
                (click)="editor?.onAlign('left')"
            >
                Left align
            </button>
            <button
                appearance="icon"
                size="s"
                tuiIconButton
                type="button"
                class="t-option t-option_margin"
                [iconStart]="options.icons.textAlignCenter"
                [tuiHint]="(texts$ | async)?.justifyCenter"
                (click)="editor?.onAlign('center')"
            >
                Center align
            </button>
            <button
                appearance="icon"
                size="s"
                tuiIconButton
                type="button"
                class="t-option t-option_margin"
                [iconStart]="options.icons.textAlignRight"
                [tuiHint]="(texts$ | async)?.justifyRight"
                (click)="editor?.onAlign('right')"
            >
                Right align
            </button>
            <button
                appearance="icon"
                size="s"
                tuiIconButton
                type="button"
                class="t-option t-option_margin"
                [iconStart]="options.icons.textAlignJustify"
                [tuiHint]="(texts$ | async)?.justifyFull"
                (click)="editor?.onAlign('justify')"
            >
                Justify align
            </button>
        </div>
    </ng-template>
</div>
