<button
    type="button"
    class="t-prevent-parent-label-behavior"
>
    <!-- @note: this is a html huck to avoid autofocus, if the parent element is a label  -->
</button>
<ng-container *ngIf="editor.stateChange$ | async"></ng-container>
<div
    [tuiFocusable]="focusable"
    (focus)="onTopFocus()"
></div>
<div
    [tuiFocusable]="focusable"
    (focus)="onBottomFocus()"
></div>
<!-- TODO: Change to `tuiHintDescribe` when figure tuiDriver order issue -->
<section
    *ngIf="texts$ | async as texts"
    tuiToolbarNavigationManager
    class="t-tools-wrapper"
>
    <div
        *ngIf="enabled(editorTool.Undo)"
        class="t-block"
    >
        <button
            appearance="icon"
            automation-id="toolbar__undo-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [disabled]="undoDisabled"
            [icon]="options.icons.undo"
            [tuiHint]="texts.undo"
            (click)="undo()"
        ></button>
        <button
            appearance="icon"
            automation-id="toolbar__redo-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [disabled]="redoDisabled"
            [icon]="options.icons.redo"
            [tuiHint]="texts.redo"
            (click)="redo()"
        ></button>
    </div>
    <div
        *ngIf="enabled(editorTool.Size)"
        class="t-block"
    >
        <tui-font-size
            tuiItem
            class="t-tool t-wrapper"
        ></tui-font-size>
    </div>
    <div
        *ngIf="firstBigBlockEnabled"
        class="t-block"
    >
        <tui-font-style
            *ngIf="formatEnabled"
            tuiItem
            class="t-tool t-wrapper"
            [enabledTools]="toolsSet"
        ></tui-font-style>

        <tui-align-content
            *ngIf="enabled(editorTool.Align)"
            tuiItem
            class="t-tool t-wrapper"
        ></tui-align-content>

        <tui-list-configs
            *ngIf="enabled(editorTool.List)"
            tuiItem
            class="t-tool t-wrapper"
        ></tui-list-configs>

        <button
            *ngIf="enabled(editorTool.Quote)"
            appearance="icon"
            automation-id="toolbar__quote-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [disabled]="unorderedList || orderedList"
            [icon]="options.icons.quote"
            [pseudoActive]="blockquote"
            [tuiHint]="texts.quote"
            (click)="toggleQuote()"
        ></button>
        <button
            *ngIf="enabled(editorTool.Link)"
            appearance="icon"
            automation-id="toolbar__link-button"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            class="t-tool"
            [disabled]="a"
            [icon]="options.icons.link"
            [tuiHint]="texts.link"
            (click)="onLink()"
        ></button>
        <button
            *ngIf="enabled(editorTool.Anchor)"
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            type="button"
            class="t-tool"
            [disabled]="a || jumpAnchor"
            [icon]="options.icons.anchor"
            [tuiHint]="texts.insertAnchor"
            (click)="onLink('#')"
        ></button>
        <ng-container *ngIf="enabled(editorTool.Attach)">
            <button
                appearance="icon"
                size="s"
                tuiHintDescribe
                tuiHintDirection="top-left"
                tuiIconButton
                tuiItem
                type="button"
                class="t-tool t-tool_margin"
                [icon]="options.icons.attach"
                [tuiHint]="texts.attach"
                (click)="fileUpload.click()"
            ></button>

            <input
                #fileUpload
                type="file"
                class="t-file-upload"
                [accept]="attachOptions.accept"
                [multiple]="attachOptions.multiple"
                [tuiFocusable]="false"
                (change)="onAttach(fileUpload)"
            />
        </ng-container>
    </div>
    <div
        *ngIf="enabled(editorTool.Sub) || enabled(editorTool.Sup)"
        class="t-block"
    >
        <button
            *ngIf="enabled(editorTool.Sub)"
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [icon]="options.icons.sub"
            [pseudoActive]="subscript"
            [tuiHint]="texts.subscript"
            (click)="toggleSubscript()"
        ></button>
        <button
            *ngIf="enabled(editorTool.Sup)"
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [icon]="options.icons.sup"
            [pseudoActive]="superscript"
            [tuiHint]="texts.superscript"
            (click)="toggleSuperscript()"
        ></button>
    </div>
    <div
        *ngIf="enabled(editorTool.Color) || enabled(editorTool.Hilite)"
        class="t-block"
    >
        <tui-text-color
            *ngIf="enabled(editorTool.Color)"
            tuiItem
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-text-color>

        <tui-highlight-color
            *ngIf="enabled(editorTool.Hilite)"
            tuiItem
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-highlight-color>
    </div>
    <div
        *ngIf="secondBigBlockEnabled"
        class="t-block"
    >
        <tui-code
            *ngIf="enabled(editorTool.Code)"
            tuiItem
            class="t-tool t-wrapper"
        ></tui-code>

        <button
            *ngIf="enabled(editorTool.Tex)"
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool"
            [icon]="options.icons.tex"
            [tuiHint]="texts.tex"
            (click)="onTeX()"
        ></button>
        <div
            *ngIf="enabled(editorTool.Img)"
            tuiItem
            class="t-wrapper"
        >
            <button
                appearance="icon"
                size="s"
                tuiHintDescribe
                tuiHintDirection="top-left"
                tuiIconButton
                type="button"
                class="t-tool"
                [icon]="options.icons.image"
                [tuiHint]="texts.image"
                (click)="image.click()"
            ></button>

            <input
                #image
                accept="image/*"
                type="file"
                class="t-image"
                [tuiFocusable]="false"
                (change)="onImage(image)"
            />
        </div>
        <button
            *ngIf="enabled(editorTool.HR)"
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [icon]="options.icons.hr"
            [tuiHint]="texts.insertHorizontalRule"
            (click)="insertHorizontalRule()"
        ></button>
    </div>
    <div
        *ngIf="enabled(editorTool.Clear)"
        class="t-block"
    >
        <button
            appearance="icon"
            size="s"
            tuiHintDescribe
            tuiHintDirection="top-left"
            tuiIconButton
            tuiItem
            type="button"
            class="t-tool t-tool_margin"
            [icon]="options.icons.clear"
            [tuiHint]="texts.clear"
            (click)="removeFormat()"
        ></button>
    </div>
    <div
        *ngIf="enabled(editorTool.Details)"
        class="t-block"
    >
        <tui-details
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-details>

        <tui-details-remove
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-details-remove>
    </div>
    <div
        *ngIf="enabled(editorTool.Group)"
        class="t-block"
    >
        <tui-editor-group-tool
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-editor-group-tool>
        <tui-table-cell-color
            *ngIf="!enabled(editorTool.Table)"
            tuiItem
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-table-cell-color>
    </div>
    <div
        *ngIf="enabled(editorTool.Table)"
        class="t-block"
    >
        <tui-table-create
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-table-create>

        <tui-table-row-column-manager
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-table-row-column-manager>

        <tui-table-merge-cells
            tuiItem
            class="t-tool t-tool_margin"
        ></tui-table-merge-cells>
    </div>
    <div
        *ngIf="enabled(editorTool.CellColor)"
        class="t-block"
    >
        <tui-table-cell-color
            tuiItem
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-table-cell-color>
    </div>
    <div class="t-block">
        <ng-content></ng-content>
    </div>
</section>
