<!-- @bad TODO: Keyboard navigation-->
<tui-hosted-dropdown
    *tuiLet="backgroundColor$ | async as selectedColor"
    #hilite
    [content]="hiliteDropdown"
    [tuiDropdownMaxHeight]="999"
>
    <button
        appearance="icon"
        automation-id="toolbar__hilite-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        class="t-tool"
        [focusable]="hilite.open"
        [icon]="icons.textHilite"
        [pseudoActive]="hilite.open"
        [tuiHint]="backColorText$ | async"
    ></button>
    <div
        *ngIf="!isBlankColor(selectedColor || '')"
        class="t-plate"
        [style.background]="selectedColor"
    ></div>
    <ng-template
        #hiliteDropdown
        let-activeZone
    >
        <tui-palette
            class="t-color-picker"
            [colors]="colors"
            [tuiActiveZoneParent]="activeZone"
            (selectedColor)="editor.setBackgroundColor($event)"
        />
    </ng-template>
</tui-hosted-dropdown>
