<div
    [tuiDropdown]="hiliteDropdown"
    [tuiDropdownOpen]="false"
>
    <button
        appearance="icon"
        automation-id="toolbar__hilite-button"
        size="s"
        tuiHintDescribe
        tuiIconButton
        tuiToolbarTool
        type="button"
        [iconStart]="icons.textHilite"
        [tuiHint]="backColorText$ | async"
        [tuiHintManual]="!isMobile && null"
    >
        {{ backColorText$ | async }}
    </button>
    <div
        *ngIf="!isBlankColor((backgroundColor$ | async) || '')"
        tuiPlate
        [style.background]="backgroundColor$ | async"
    ></div>
    <ng-template #hiliteDropdown>
        <tui-palette
            tuiPalette
            [colors]="colors"
            (selectedColor)="editor?.setBackgroundColor($event)"
        />
    </ng-template>
</div>
