<ng-container
    *tuiLet="{
        mergeCells: canMergeCells$ | async,
        splitCells: canSplitCells$ | async,
    } as can"
>
    <button
        *ngIf="texts$ | async as texts"
        appearance="icon"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        [disabled]="!can.mergeCells && !can.splitCells"
        [iconLeft]="can.mergeCells ? '@tui.table-cells-merge' : '@tui.table-rows-split'"
        [tuiHint]="can.mergeCells ? texts.mergeCells : texts.splitCells"
        (click)="can.mergeCells ? mergeCells() : splitCell()"
    ></button>
</ng-container>
