@import (css) url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
@import '@taiga-ui/legacy/styles/taiga-ui-global.less';
@import '@taiga-ui/styles/taiga-ui-theme.less';
@import 'highlight.js/styles/github.css';

body {
    margin: 0;
}

html,
body {
    block-size: 100%;
}

.tui-doc-page {
    padding-block-start: 0 !important;
}

[automation-id='tui-doc-example'] > * > tui-accordion {
    margin-block-start: 1.5rem;
}

.code {
    word-break: break-all;
}

tui-doc-example .t-root-content > .t-content {
    border-radius: 0;
    margin-block-start: 0.3125rem;
    box-shadow: none !important;
}

tui-doc-example .t-example .t-header {
    padding: 0.25rem;
    border-radius: var(--tui-radius-m);
    border: 1px solid var(--tui-border-normal);
}

tui-doc-page .t-example.t-example {
    border: none !important;
    box-shadow: none;
    border-radius: 0;
    margin-block-start: 0;
}

tui-doc-page .t-demo.t-demo {
    padding: 0;
}

tui-doc-page .t-code.t-code {
    outline: 1px solid var(--tui-border-normal);
    border-radius: var(--tui-radius-m);
    inline-size: calc(100% - 2px);
    margin: 1px auto;

    code {
        background: var(--tui-background-base);
    }
}

tui-doc-page > .t-header {
    margin-block-end: 0;
    margin-block-start: 4rem;
}

tui-doc-demo[tuiTheme] > .t-wrapper > .t-content {
    padding: 0.5rem;
}

tui-doc-example > header [tuiLink] {
    font: var(--tui-typography-heading-h5) !important;
}

tui-doc-page > .t-header:empty {
    block-size: 0;
    padding: 0;
    margin: 0 0 4.0625rem;
}

tui-doc-example {
    padding-block-start: 0;
    padding-block-end: 2rem;
}
