<div class="t-align-list">
    <button
        size="s"
        title=""
        tuiIconButton
        type="button"
        [appearance]="isAlignJustify(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignJustify"
        (click.capture)="alignJustify()"
    >
        Justify align
    </button>
    <button
        size="s"
        tuiIconButton
        type="button"
        [appearance]="isAlignLeft(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignLeft"
        (click.capture)="alignLeft()"
    >
        Left align
    </button>
    <button
        size="s"
        tuiIconButton
        type="button"
        [appearance]="isAlignCenter(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignCenter"
        (click.capture)="alignCenter()"
    >
        Center align
    </button>
    <button
        size="s"
        tuiIconButton
        type="button"
        [appearance]="isAlignRight(style) ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignRight"
        (click.capture)="alignRight()"
    >
        Right align
    </button>
</div>
