<div
    *ngIf="editorLoaded$ | async as editorLoaded"
    tuiWrapper
    class="t-wrapper"
    [appearance]="options.appearence"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div class="t-toolbar-wrapper">
        <tui-toolbar
            *ngIf="editorLoaded && tools.length && !floatingToolbar"
            [disabled]="!interactive"
            [tools]="tools"
            (fileAttached)="fileAttached.emit($event)"
        >
            <ng-content select="tools"></ng-content>
        </tui-toolbar>
        <div
            class="t-placeholder"
            [class.t-placeholder_raised]="placeholderRaised"
        >
            <ng-content></ng-content>
        </div>
        <div
            *ngIf="hasExampleText"
            class="t-example-text"
        >
            {{ exampleText }}
        </div>
    </div>

    <ng-container *ngIf="editorLoaded">
        <tui-scrollbar
            *ngIf="floatingToolbar"
            class="t-scrollbar"
            (mousedown)="focus($event)"
        >
            <ng-container [ngTemplateOutlet]="editor"></ng-container>
        </tui-scrollbar>
        <tui-scrollbar
            *ngIf="!floatingToolbar"
            tuiEditorPortal
            class="t-scrollbar"
            (mousedown)="focus($event)"
        >
            <ng-container [ngTemplateOutlet]="editor"></ng-container>
            <tui-editor-portal-host></tui-editor-portal-host>
        </tui-scrollbar>

        <ng-template #editor>
            <div
                tuiDropdownLimitWidth="auto"
                [tuiDropdown]="dropdown"
                [tuiToolbarDropdown]="dropdownSelectionHandler"
                [tuiToolbarDropdownPosition]="floatingToolbar ? 'selection' : 'tag'"
            >
                <tui-editor-socket
                    tuiTiptapEditor
                    [editable]="interactive"
                    [value]="value"
                    (stateChange)="(0)"
                    (valueChange)="onModelChange($event)"
                ></tui-editor-socket>
            </div>

            <ng-template
                #dropdown
                let-activeZone
            >
                <div [class.t-floating]="floatingToolbar">
                    <tui-toolbar
                        *ngIf="editorLoaded && tools.length && floatingToolbar"
                        [disabled]="!interactive"
                        [tools]="tools"
                        [tuiActiveZoneParent]="activeZone"
                        (fileAttached)="fileAttached.emit($event)"
                    >
                        <ng-content select="tools"></ng-content>
                    </tui-toolbar>

                    <tui-edit-link
                        *ngIf="!floatingToolbar || isLinkSelected"
                        #link
                        (addLink)="link.anchorMode ? addAnchor($event) : addLink($event)"
                        (removeLink)="link.anchorMode ? removeAnchor() : removeLink()"
                    ></tui-edit-link>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
</div>
