<div class="t-edit-link">
    @if (edit) {
        <label class="t-label">
            <div class="t-label-properties">
                @if (isOnlyAnchorMode) {
                    Edit anchor
                } @else {
                    @if (prefixIsHashMode) {
                        <span>Link to anchor</span>
                    } @else {
                        <span>URL</span>
                    }
                }
            </div>
            <div class="t-url">
                <div class="t-prefix">{{ prefix }}</div>
                <tui-input-inline
                    class="t-input"
                    [class.t-input_filled]="hasUrl"
                    (input)="onChange($any($event.target)?.value)"
                    (keydown.backspace)="onBackspace()"
                    (keydown.prevent.enter)="onSave()"
                >
                    @if (texts$ | async; as text) {
                        {{ prefixIsHashMode ? text.anchorExample : text.urlExample }}
                    }
                    <input
                        tuiAutoFocus
                        [(ngModel)]="url"
                        (blur)="onBlur(url)"
                    />
                </tui-input-inline>
            </div>
        </label>
        <button
            appearance="icon"
            size="s"
            title="Clear"
            tuiIconButton
            type="button"
            class="t-button"
            [iconStart]="options.icons.popupLinkRemove"
            (mousedown.prevent)="onClear()"
        ></button>
        <button
            appearance="icon"
            size="s"
            title="Save"
            tuiIconButton
            type="button"
            class="t-button"
            [iconStart]="options.icons.popupLinkSave"
            (mousedown)="onSave()"
        ></button>
    } @else {
        <a
            target="_blank"
            tuiLink
            class="t-link"
            [href]="href"
            [iconStart]="prefixIsHashMode ? options.icons.hash : options.icons.externalLink"
        >
            {{ url | tuiShortUrl }}
        </a>
        <button
            appearance="icon"
            size="s"
            title="Change link"
            tuiIconButton
            type="button"
            class="t-button t-edit-button"
            [iconStart]="options.icons.popupPreviewLinkEdit"
            (click)="onEdit()"
        ></button>
        <button
            appearance="icon"
            automation-id="toolbar__popup-link-clear-button"
            size="s"
            title="Remove link"
            tuiIconButton
            type="button"
            class="t-button"
            [iconStart]="options.icons.popupPreviewLinkClear"
            (click)="onRemove()"
        ></button>
    }
</div>

@if (showAnchorsList) {
    <hr class="t-hr" />
    <tui-scrollbar>
        <div class="t-anchor-list">
            @for (id of anchorIds | tuiFilterAnchors: prefix ?? '' : url; track id) {
                <button
                    type="button"
                    class="t-anchor"
                    (mousedown)="setAnchor(id)"
                >
                    #{{ id }}
                </button>
            }
        </div>
    </tui-scrollbar>
}
