<div
    #dropdown="tuiDropdown"
    tuiImageOptionsPosition
    class="t-hosted"
    [tuiDropdown]="imgOptions"
    [tuiDropdownEnabled]="editor.isEditable"
    [tuiDropdownOpen]="open"
>
    <div
        *ngIf="editor.isEditable"
        class="t-image-buttons"
        [class._open]="open"
    >
        <button
            appearance=""
            size="s"
            tuiIconButton
            type="button"
            class="t-image-buttons-link"
            [iconStart]="options.icons.imageExtension.link"
        >
            Image link
        </button>

        <button
            appearance=""
            size="s"
            tuiIconButton
            type="button"
            [iconStart]="options.icons.imageExtension.settings"
            (click.capture.prevent)="openDropdown($event)"
        >
            Image align
        </button>
    </div>

    <tui-editor-resizable
        #resizable
        [autoHeight]="true"
        [isEditable]="editor.isEditable"
        [width]="width"
        (sizeChange)="updateSize($event)"
    >
        <img
            contenteditable="false"
            decoding="async"
            loading="lazy"
            [alt]="alt"
            [attr.width]="width"
            [class.ProseMirror-selectednode]="focused"
            [src]="getBypassedSrc(attrs.src)"
            [style.max-width.px]="maxWidth"
            [style.min-width.px]="minWidth"
            [title]="title"
            (load)="onImageLoad()"
        />
    </tui-editor-resizable>
</div>

<ng-template #imgOptions>
    <tui-image-align
        [style]="style"
        (updateAlignStyles)="align($event); open = false"
    />
</ng-template>
