.editor {
    min-block-size: 12.5rem;
    max-block-size: 12.5rem;

    ::ng-deep {
        tui-toolbar {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            inline-size: 100%;

            [tuiToolbar] {
                box-shadow: 0 -0.0625rem 0.0625rem var(--tui-background-neutral-1-hover);
            }
        }

        tui-scrollbar {
            margin-bottom: 2.875rem;
            padding: 0;
        }

        .t-placeholder {
            margin-top: 1.625rem;
        }

        [tuiToolbarBlock]:last-child {
            margin-left: auto;
        }
    }
}
