<tui-doc-page>
    <tui-doc-demo [sticky]="false">
        <div class="container">
            <tui-editor
                [floatingToolbar]="floating"
                [formControl]="control"
                [placeholder]="placeholder"
                [readOnly]="readOnly"
                [style.max-height]="maxHeight"
                [style.min-height]="minHeight"
                [tools]="tools ?? []"
                [tuiAutoFocus]="!isE2E"
            >
                Start typing
            </tui-editor>

            <button
                appearance="outline"
                size="s"
                tuiButton
                type="button"
                class="tui-space_top-3"
                (click)="control.setValue('')"
            >
                Reset
            </button>

            @if (preview) {
                <h4>Update HTML:</h4>

                <tui-radio-list
                    size="s"
                    [items]="updates"
                    [style.flex-direction]="'row'"
                    [style.width]="'max-content'"
                    [(ngModel)]="updateOn"
                />

                <br />

                @if (updateOn === 'change') {
                    <tui-textfield>
                        <textarea
                            tuiTextarea
                            [ngModel]="control.value"
                            [ngModelOptions]="{updateOn: 'change'}"
                            (ngModelChange)="control.setValue($event)"
                        ></textarea>
                    </tui-textfield>
                }

                @if (updateOn === 'blur') {
                    <tui-textfield>
                        <textarea
                            tuiTextarea
                            [ngModel]="control.value"
                            [ngModelOptions]="{updateOn: 'blur'}"
                            (ngModelChange)="control.setValue($event)"
                        ></textarea>
                    </tui-textfield>
                }
            }
        </div>
    </tui-doc-demo>
    <table tuiDocAPI>
        <tr
            name="Show preview"
            tuiDocAPIItem
            type="boolean"
            [(value)]="preview"
        >
            Just demo
        </tr>
        <tr
            name="disabled"
            tuiDocAPIItem
            type="boolean"
            [(value)]="disabled"
        >
            Disabled state (use
            <code>formControl.disable()</code>
            )
        </tr>
        <tr
            name="[readOnly]"
            tuiDocAPIItem
            type="boolean"
            [(value)]="readOnly"
        >
            Readonly mode
        </tr>
        <tr
            name="[floatingToolbar]"
            tuiDocAPIItem
            type="boolean"
            [(value)]="floating"
        >
            Floating toolbar
        </tr>
        <tr
            name="[tools]"
            tuiDocAPIItem
            type="readonly TuiEditorToolType[] | Set<TuiEditorToolType>"
            [items]="toolsVariants"
            [(value)]="tools"
        >
            Allowed edit tools
        </tr>
        <tr
            name="[ngModel]"
            tuiDocAPIItem
            type="string"
            [value]="control.value"
            (valueChange)="control.setValue($event ?? '')"
        >
            Example pass HTML code
        </tr>
        <tr
            name="[placeholder]"
            tuiDocAPIItem
            type="string"
            [(value)]="placeholder"
        >
            Placeholder shown on empty focused input
        </tr>
        <tr
            name="[style.min-height]"
            tuiDocAPIItem
            type="string"
            [(value)]="minHeight"
        >
            Value of CSS-property "min-height"
        </tr>
        <tr
            name="[style.max-height]"
            tuiDocAPIItem
            type="string"
            [(value)]="maxHeight"
        >
            Value of CSS-property "max-height"
        </tr>
        <tr
            name="(loaded)"
            tuiDocAPIItem
            type="boolean"
        >
            Emits when editor is loaded
        </tr>
    </table>
    <h3>How to use</h3>
    <table tuiDocAPI>
        <tui-doc-code code="npm i &#64;taiga-ui/{cdk,core,kit,icons,editor}" />

        <ol class="b-demo-steps">
            <li>
                <tui-doc-code
                    filename="styles.less"
                    [code]="exampleStyles"
                />
            </li>

            <li>
                <tui-doc-code
                    filename="angular.json (icons are not included in the bundle)"
                    [code]="exampleIcons"
                />
            </li>

            <li>
                <tui-doc-code
                    filename="app.component.html"
                    [code]="template"
                />
            </li>

            <li>
                <tui-doc-code
                    filename="app.component.ts"
                    [code]="component"
                />
            </li>
        </ol>
    </table>
</tui-doc-page>
