[tuiToolbar] {
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

[tuiToolbar]._disabled {
    pointer-events: none;
    opacity: var(--tui-disabled-opacity);
}

[tuiToolbar]:has([tuiToolbarBlock]:not(:empty)) {
    border: none;
    padding: 0.25rem 0.75rem;
    outline: 0.0625rem solid var(--tui-border-normal);
}

[tuiToolbarBlock] {
    display: flex;
    padding: 0.25rem 0;
}

[tuiToolbarBlock]:empty {
    display: none;
}

[tuiToolbarBlock]:not(:last-child)::after {
    content: '';
    display: block;
    margin: 0 0.25rem;
    inline-size: 0.0625rem;
    background: var(--tui-background-neutral-1-pressed);
}

[tuiToolbarTool] {
    position: relative;
    transition: background var(--tui-duration) ease-in-out;
    margin: 0 0.125rem;
    overflow: visible;
}

[tuiToolbarTool]:hover {
    background: var(--tui-background-neutral-1-hover);
}

[tuiToolbar] [tuiItem] {
    position: relative;
    align-self: center;
}

[tuiToolbar] input[type='file'] {
    pointer-events: none;
    inline-size: 0;
    block-size: 0;
    font-size: 0;
    opacity: 0;
}

[tuiToolbar] input[type='file']::-webkit-file-upload-button {
    display: none;
}

[tuiPlateHost] {
    position: relative;
}

[tuiPlate] {
    position: absolute;
    inset-block-start: 1.9rem;
    inset-inline-start: 50%;
    block-size: 0.25rem;
    pointer-events: none;
    transform: translateX(-50%);
    inline-size: 1.25rem;
}

[tuiToolbarDropdownContent] {
    padding: 0.5rem;
}

[tuiPalette] {
    box-sizing: border-box;
    max-inline-size: 22.6rem;
}
