<ng-container *ngIf="editor?.stateChange$ | async" />
<input
    #fileUpload
    type="file"
    [accept]="attachOptions.accept"
    [multiple]="attachOptions.multiple"
    [tabIndex]="-1"
    (change)="onAttach(fileUpload)"
/>
<button
    appearance="icon"
    size="s"
    tuiHintDescribe
    tuiIconButton
    tuiItem
    tuiToolbarTool
    type="button"
    [iconStart]="options.icons.attach"
    [tuiHint]="(texts$ | async)?.attach"
    (click)="fileUpload.click()"
>
    {{ (texts$ | async)?.attach }}
</button>
