.changelog {
    max-width: 58.25rem;

    > *:not(h2) {
        margin-left: 1.25rem;
    }

    a {
        text-decoration: none;
        color: var(--tui-link);

        &:hover,
        &:active {
            color: var(--tui-link-hover);
        }
    }

    li {
        position: relative;
        padding-left: 1.5rem;
        word-wrap: break-word;
        margin-top: 0.75rem;
    }

    li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background-color: var(--tui-primary);
    }
}
