<ng-template #toolbarTpl>
    <tui-toolbar-host [disabled]="!interactive()">
        <ng-container *polymorpheusOutlet="toolbar ?? defaultToolbar as text; context: {$implicit: editor}">
            {{ text }}
        </ng-container>
    </tui-toolbar-host>

    <ng-template #defaultToolbar>
        <tui-toolbar
            [tools]="tools"
            (fileAttached)="fileAttached.emit($event)"
        >
            <ng-content select="tools" />
        </tui-toolbar>
    </ng-template>
</ng-template>

<ng-container *polymorpheusOutlet="!floatingToolbar ? toolbarTpl : null as text">
    {{ text }}
</ng-container>

<div
    tuiEditorLabel
    (mousedown)="focus($event)"
>
    <div
        *ngIf="hasPlaceholder"
        tuiEditorPlaceholder
    >
        {{ placeholder || exampleText }}
    </div>

    <ng-content />
</div>

<tui-scrollbar
    tuiEditorScrollbar
    (keydown)="focus($event)"
    (mousedown)="focus($event)"
>
    <ng-container [ngTemplateOutlet]="editorTpl" />
</tui-scrollbar>

<tui-editor-socket [content]="value()" />

<ng-template #editorTpl>
    <div
        tuiDropdownLimitWidth="auto"
        tuiTiptapEditor
        class="tui-editor-socket"
        [attr.data-contenteditable]="interactive()"
        [editable]="interactive()"
        [tuiDropdown]="dropdown"
        [tuiToolbarDropdown]="dropdownSelectionHandler"
        [tuiToolbarDropdownPosition]="floatingToolbar ? 'selection' : 'tag'"
        (valueChange)="onModelChange($event)"
    ></div>
</ng-template>

<ng-template #dropdown>
    <ng-container *polymorpheusOutlet="floatingToolbar ? toolbarTpl : null as text">
        {{ text }}
    </ng-container>

    <tui-edit-link
        *ngIf="isLinkSelected"
        #link
        (addLink)="link.anchorMode ? addAnchor($event) : addLink($event); closeDropdown()"
        (removeLink)="link.anchorMode ? removeAnchor() : removeLink(); closeDropdown()"
    />

    <!-- TODO: drop mention in v5 -->
    <ng-container *ngIf="isMentionMode">
        <ng-content select="mention" />
    </ng-container>

    <ng-container *polymorpheusOutlet="tuiDropdown?.tuiDropdownOpen ? dropdownContent : null as text">
        {{ text }}
    </ng-container>
</ng-template>
