<div
    class="t-edit-link"
    (mousedown)="$event.stopImmediatePropagation()"
>
    <ng-container *ngIf="edit; else view">
        <label class="t-label">
            <div class="t-label-properties">
                <ng-container *ngIf="anchorMode; else fullOptions">Edit anchor</ng-container>
                <ng-template #fullOptions>
                    <span *ngIf="prefixIsHashMode; else urlTitle">Link to anchor</span>
                    <ng-template #urlTitle>
                        <span>URL</span>
                    </ng-template>
                </ng-template>
            </div>
            <div class="t-url">
                <div class="t-prefix">{{ prefix }}</div>
                <tui-input-inline
                    tuiAutoFocus
                    class="t-input"
                    [class.t-input_filled]="hasUrl"
                    (input)="onChange($any($event.target)?.value)"
                    (keydown.backspace)="onBackspace()"
                    (keydown.prevent.enter)="onSave()"
                >
                    <ng-container *ngIf="texts$ | async as text">
                        {{ prefixIsHashMode ? text.anchorExample : text.urlExample }}
                    </ng-container>
                    <input [(ngModel)]="url" />
                </tui-input-inline>
            </div>
        </label>
        <tui-svg
            class="t-cleaner"
            [class.t-cleaner_hidden]="!hasUrl"
            [src]="options.icons.popupLinkRemove"
            (click)="onClear()"
        />
        <button
            appearance="icon"
            shape="rounded"
            size="s"
            title="Insert link"
            tuiIconButton
            type="button"
            class="t-button"
            [iconLeft]="options.icons.popupLinkSave"
            (click)="onSave()"
        ></button>
    </ng-container>
    <ng-template #view>
        <a
            target="_blank"
            tuiLink
            class="t-link"
            [href]="href"
            [iconLeft]="prefixIsHashMode ? 'tuiIconHash' : 'tuiIconExternalLink'"
        >
            {{ url | tuiShortUrl }}
        </a>
        <button
            appearance="icon"
            shape="rounded"
            size="s"
            title="Change link"
            tuiIconButton
            type="button"
            class="t-button t-edit-button"
            [iconLeft]="options.icons.popupPreviewLinkEdit"
            (click)="onEdit()"
        ></button>
        <button
            appearance="icon"
            automation-id="toolbar__popup-link-clear-button"
            shape="rounded"
            size="s"
            title="Remove link"
            tuiIconButton
            type="button"
            class="t-button"
            [iconLeft]="options.icons.popupPreviewLinkClear"
            (click)="onRemove()"
        ></button>
    </ng-template>
</div>

<ng-container *ngIf="showAnchorsList">
    <hr class="t-hr" />
    <tui-scrollbar>
        <div class="t-anchor-list">
            <button
                *ngFor="let id of anchorIds | tuiFilterAnchors: prefix : url"
                type="button"
                class="t-anchor"
                (click)="setAnchor(id)"
            >
                #{{ id }}
            </button>
        </div>
    </tui-scrollbar>
</ng-container>
