<div
    #dropdown="tuiDropdown"
    tuiImageOptionsPosition
    class="t-hosted"
    [tuiDropdown]="imgOptions"
    [tuiDropdownOpen]="open"
>
    <button
        appearance=""
        size="s"
        tuiIconButton
        type="button"
        class="t-image-options"
        [class._open]="open"
        [iconStart]="options.icons.imageExtension.settings"
        (click.capture.prevent)="openDropdown($event)"
    ></button>

    <tui-editor-resizable
        #resizable
        [autoHeight]="true"
        [width]="width"
        (sizeChange)="updateSize($event)"
    >
        <img
            contenteditable="false"
            [alt]="alt"
            [attr.width]="width"
            [class.ProseMirror-selectednode]="focused"
            [src]="src"
            [style.max-width.px]="maxWidth"
            [style.min-width.px]="minWidth"
            [title]="title"
        />
    </tui-editor-resizable>
</div>

<ng-template #imgOptions>
    <tui-image-align
        [style]="style"
        (updateAlignStyles)="align($event); open = false"
    />
</ng-template>
