<!--
    <p class="t-emulate-inline-node"></p>
    is used to be able to select fake empty paragraph
    (text node) around the image, which will be a link
-->
<p
    contenteditable="false"
    class="t-emulate-inline-node"
></p>
<tui-editor-resizable
    #resizable
    [autoHeight]="true"
    [width]="width"
    (sizeChange)="updateSize($event)"
>
    <img
        contenteditable="false"
        [alt]="alt"
        [attr.width]="width"
        [class.ProseMirror-selectednode]="focused"
        [src]="src"
        [style.max-width.px]="maxWidth"
        [style.min-width.px]="minWidth"
        [title]="title"
    />
</tui-editor-resizable>
<p
    contenteditable="false"
    class="t-emulate-inline-node"
></p>
