name: ⚙️ E2E tests
on:
  pull_request:

env:
  PW_RESULT: ./projects/demo-playwright/tests-results

jobs:
  e2e:
    name: E2E
    runs-on: ubuntu-latest
    outputs:
      details_url: ${{ steps.e2e-report.outputs.details_url }}
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.97.0
      - uses: taiga-family/ci/actions/setup/node@v1.97.0
      - uses: taiga-family/ci/actions/setup/playwright@v1.97.0
      - run: npx nx prerender editor-demo -c development
      - uses: taiga-family/ci/actions/run/serve@v1.97.0
        with:
          port: ${{ env.NG_SERVER_PORT }}
          directory: ${{ env.DIST }}

      - run: npx nx e2e editor-demo-playwright -- --update-snapshots

      - uses: taiga-family/ci/actions/run/clone@v1.97.0
        with:
          branch: snapshots/demo/next/${{ github.base_ref }}
          destination: ${{ env.DIST_NEXT }}

      - uses: taiga-family/ci/actions/run/serve@v1.97.0
        with:
          port: ${{ env.NG_SERVER_PORT }}
          directory: ${{ env.DIST_NEXT }}

      - run: npx nx e2e editor-demo-playwright
        continue-on-error: true

      - run: tree ${{ env.PW_RESULT }}
      - name: Deploy e2e report
        id: e2e-report
        uses: FirebaseExtended/action-hosting-deploy@v0.9.0
        continue-on-error: true
        with:
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_TUI_EDITOR }}
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          target: taiga-editor-e2e-report
          projectId: taiga-editor
          disableComment: 'true'
          expires: 1d

      - name: Upload report artifacts
        uses: actions/upload-artifact@v4.4.3
        with:
          path: ${{ env.PW_RESULT }}/test-results.json
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}_report
          compression-level: 0
          retention-days: 1

      - name: Upload artifacts / ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
        uses: actions/upload-artifact@v4.4.3
        with:
          path: ${{ env.PW_RESULT }}/**/*-retry2/*-diff.png
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
          if-no-files-found: ignore
          compression-level: 0
          retention-days: 1

  result:
    name: E2E result
    needs: [e2e]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.97.0

      - name: Download artifacts for Playwright
        continue-on-error: true
        uses: actions/download-artifact@v4.1.8
        with:
          path: ${{ env.PW_RESULT }}
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
          merge-multiple: true
      - uses: actions/download-artifact@v4.1.8
        with:
          path: ${{ env.PW_RESULT }}
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}_report

      - run: tree ${{ env.PW_RESULT }} || echo "not found"

      - name: Check if diff-output exists
        id: diff_checker
        run: |
          echo "diff_exist=$(find ${{ env.PW_RESULT }} -path '*retry2/*' -iname '*-diff.png' | wc -l | sed -e 's/^[[:space:]]*//')" >> $GITHUB_OUTPUT
      - name: Fall with an error if diff-output exists
        if: ${{ steps.diff_checker.outputs.diff_exist != '0' }}
        run: |
          find ${{ env.PW_RESULT }} -path '*retry2/*' -iname '*-diff.png' -exec echo "{}" \;
          exit 1

      - uses: daun/playwright-report-summary@v3.6.0
        if: always()
        with:
          custom-info: 'For more information, [see our report](${{ needs.e2e.outputs.details_url }})'
          report-file: ${{ env.PW_RESULT }}/test-results.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
