name: ⚙️ E2E tests
on:
  pull_request:

jobs:
  e2e:
    if: ${{ !contains(github.head_ref , 'release/') }}
    name: E2E
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.68.0
      - uses: taiga-family/ci/actions/setup/variables@v1.68.0
      - uses: taiga-family/ci/actions/setup/node@v1.68.0
      - uses: taiga-family/ci/actions/setup/playwright@v1.68.0
      - run: npx nx prerender editor-demo
      - uses: taiga-family/ci/actions/run/serve@v1.70.1
        with:
          port: ${{ env.NG_SERVER_PORT }}
          directory: ${{ env.DIST }}
          replaceBaseUrlFrom: /editor/
          replaceBaseUrlTo: /

      - run: npx nx e2e editor-demo-playwright -- --update-snapshots

      - name: Download ${{ env.DIST_NEXT }} for serve locally
        run: |
          git clone \
                --depth 1 \
                --branch snapshots/demo/next/${{ github.base_ref }} \
                https://github.com/taiga-family/editor.git ${{ env.DIST_NEXT }}

      - uses: taiga-family/ci/actions/run/serve@v1.70.1
        with:
          port: ${{ env.NG_SERVER_PORT }}
          directory: ${{ env.DIST_NEXT }}
          replaceBaseUrlFrom: /editor/
          replaceBaseUrlTo: /

      - run: npx nx e2e-ui editor-demo-playwright
        continue-on-error: true

      - id: diff-checker
        run: |
          echo "diff_exist=$(find ./projects/demo-playwright/tests-results -regex '.*diff\.png$' | wc -l | sed -e 's/^[[:space:]]*//')" >> $GITHUB_OUTPUT
      - if: ${{ steps.diff-checker.outputs.diff_exist != '0' }}
        run: |
          find ./projects/demo-playwright/tests-results -regex '.*diff\.png$' -exec echo "{}" \;
          exit 1

concurrency:
  group: e2e-${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
