name: ⚠️ Release @tinkoff/tui-editor
on:
  workflow_dispatch:
    inputs:
      forcePush:
        type: boolean
        required: false
        description: --force-publish package
      mode:
        type: choice
        description: force package to be versioned (depend --force-publish)
        required: false
        default: minor
        options:
          - patch
          - minor
          - major

jobs:
  run-release:
    name: Run release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
    steps:
      - uses: actions/checkout@v3.6.0
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.head_ref }}
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
      - uses: taiga-family/ci/actions/setup-node@1.10.1
      - uses: taiga-family/ci/actions/setup-git@1.10.1
        with:
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
      - uses: taiga-family/ci/actions/setup-npm@1.10.1
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - name: Lerna update version of packages
        if: always()
        run: |
          if [[ ${{ github.event.inputs.forcePush }} == "true" ]]; then
            npx lerna version ${{ github.event.inputs.mode }} --no-private --force-publish
          else
              npx lerna version --no-private
          fi

      - name: Build
        run: npx nx build tui-editor

      - name: Publish
        if: always()
        run: npx nx publish tui-editor

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
