<tui-hosted-dropdown
    #table
    tuiDropdownAlign="left"
    tuiDropdownDirection="bottom"
    [content]="tableDropdown"
>
    <button
        appearance="icon"
        automation-id="toolbar__insert-table-button"
        size="s"
        tuiHintDescribe
        tuiHintDirection="top-left"
        tuiIconButton
        type="button"
        [focusable]="table.open"
        [icon]="options.icons.insertTable"
        [tuiHint]="insertTableText$ | async"
    ></button>
</tui-hosted-dropdown>

<ng-template #tableDropdown>
    <tui-table-size-selector (selectSize)="addTable($event)" />
</ng-template>
